{% extends "base.html" %}

{% block writeup_active %}active{% endblock %}

{% block main %}
<div class="container">
  
<div class="page-header">
  <h1>What this is about</h1>
</div>


<p class="lead">Our goal is to use the computational power of bitcoin miners to accomplish a cryptographic feat, namely finding a <a href="faq.html#goal">partial (128-bit) 3-way collision on SHA-256</a>. This page explains how we intend to do it. It first describes some aspects of bitcoin mining, then explains how we can use off-the-shelf bitcoin mining hardware, without modification, to reach our goal.</p>

<p>This page is <em>not</em> an introduction to bitcoin. The interested reader is redirected to <a href="https://bitcoin.org/en/how-it-works">https://bitcoin.org/en/how-it-works</a>, or even better to the <a href="https://bitcoin.org/bitcoin.pdf">original paper of Satoshi Nakamoto</a>.</p>

<h2>Bitcoin mining: how does it (normally) work?</h2>

<p>The <em>blockchain</em> records all past <em>transactions</em>. To be confirmed by the bitcoin network, a transaction (<i>i.e.</i> a transfer of value between <em>wallets</em>) must be incorporated into the blockchain. The blockchain is a sequence of <em>blocks</em>. Each block contains a reference to the previous block (its <em>hash</em>), and a list of transactions. To be valid, a block must also contain a <em>proof-of-work</em>.</p>

<p><em>Nodes</em> of the bitcoin network receive <em>pending transactions</em> (waiting for confirmation) from bitcoin owners. They try to form a new block that contains them, and to <em>extend</em> the blockchain with the new block. This requires producing a proof-of-work for the new block, and it is precisely what <em>mining</em> is about.</p>

<h3>The proof-of-work system and the bitcoin puzzle</h3>

<p>To be valid, a block must start with an 80-byte <em>block header</em> containing the following fields:
<ul>
<li>[ 32 bits] Block version, currently <samp>0x0000004</samp>.</li>
<li>[256 bits] Hash of the previous block header.</li>
<li>[256 bits] Hash of the transactions included in this block.</li>
<li>[ 32 bits] Current timestamp (seconds since the Unix epoch).</li>
<li>[ 32 bits] Encoded network difficulty of the proof-of-work this block header conforms to.</li>
<li>[ 32 bits] Arbitrary number ("<em>nonce</em>").</li>
</ul></p>

<p>To be valid, a block header must satisfy an additional condition: its own hash must begin with a specified number of zero bits. This is the "proof-of-work". The number of expected zero bits is given by the <em>network difficulty</em>. The higher it is, the more difficult it is to find a valid block header, and thus to extend the blockchain. The network difficulty is continuously adjusted so that a new block is found every 10 minutes.</p> 

<p>Bitcoin miners thus have to solve:</p>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">The current <strong>bitcoin puzzle</strong></h3>
  </div>
  <div class="panel-body">

<dl style="margin-bottom: 0px">
  <dt>GIVEN:</dt>
  <dd>
    <ul>
        <li>the hash of the previous block (the last one in the blockchain)</li>
        <li>the current time</li>
        <li>the current network difficulty</li>
        <li>a list of pending transactions to include in a new block</li>
    </ul>
  </dd>
  <dt>FIND:</dt>
  <dd>
    <ul>
      <li>a 32-bit nonce such that the assembled block header has a valid proof-of-work (its hash must begin with the right number of zero bits).</li>
    </ul>
  </dd>
</dl>
  </div>
</div>

 
<p>In cryptographic terms, solving the bitcoin puzzle means finding a <em>partial <a href="https://en.wikipedia.org/wiki/Preimage_attack">preimage</a></em> for the SHA-256 hash function: finding an input $x$ such that some output bits of $\textrm{SHA-256}(x)$ have a specified value (here, zero).</p>

<p>Bitcoin uses the <a href="https://en.wikipedia.org/wiki/SHA-2">SHA-256</a> cryptographic hash function, which has no known cryptographic weakness. As such, the only known way of finding partial preimages (and thus solving the bitcoin puzzle) is <em>brute force</em>: trying random inputs until the corresponding output meets the conditions.</p>

<p>To solve a $k$-bit bitcoin puzzle, an average of $2^k$ trials are needed. At the time of this writing, the network difficulty is such that solving a 71-bit bitcoin puzzle is required to extend the blockchain. This requires about $2^{71}$ trials. In other terms, a miner must be ready to try about 1'000'000'000'000'000'000'000 different block headers, before a valid one will be found!</p>

<p>Bitcoin mining rigs are special computational devices dedicated to solving the bitcoin puzzle, and they do so at an incredible speed. A top-notch miner performs roughly 10'000'000'000'000 trials per second, so it would still need about... 3 years to solve the bitcoin puzzle at current difficulty. However, because there are many such miners, a bitcoin puzzle is solved every 10 minutes.</p>


<h3>Mining pools</h3>

<p>Mining is necessary for new transactions to be recorded into the blockchain. This in turns requires considerable computational resources. Miners are thus given an incentive: each new block yields a given amount of bitcoin (12.5 BTC at the time of this writing) to the miner that finds it. She is awarded the <em>coinbase transaction</em>, plus potential <em>transaction fees</em>.</p>

<p>Every $\approx$ 10 minutes, the blockchain is extended by a new block, and a miner cashes in the reward. Each miner stands a chance being the lucky one proportional to its hashrate. For instance, at the time of this writing, one can buy (for a few hundred dollars) a bitcoin mining rig whose hashrate is about 1'000'000 times less than the global hashrate of all combined miners. Its owner has 1 chance over 1'000'000 to extend the blockchain every 10 minutes, and the device has an expected lifetime of two years. A quick computation shows that the owner stands a 10% chance to extend the blockchain before it stops functionning. So, with 90% probability, the investment in the mining device and in electricity will be entirely lost when the device dies.</p>

<p>To alleviate this problem, many miners can join forces and form a <em>mining pool</em> (see also the <a href="https://en.bitcoin.it/wiki/Pooled_mining">"pooled mining"</a> entry of the bitcoin wiki).</p> 

<p>In a pool, miners are remunerated much more regularly (typically, daily) and proportionnaly to their hashrate. Concretely, this means that in a pool, when a miner solves the current bitcoin puzzle, it reports its solution to the pool manager. The pool manager uses it to extend the blockchain, and cashes in the reward.</p>

<p>Pool managers take the risk of having to remunerate the miners participating in the pool regularly, while they themselves only receive the benefits of extending the blockchain irregularly. Pool managers perceive a fee (usually 2%) on the total amount of bitcoin created by the pool.</p>

<p>In a pool, miners regularly send <em>shares</em> to the pool manager. Most pools remunerate miners a fixed amount of bitcoin for each (valid) share sent. A share is a solution of the current bitcoin puzzle, but with a lower difficulty than the network difficulty. For instance, a pool may accept as shares solutions of the bitcoin puzzle with 44 zero bits, instead of the network difficulty of 71 zero bits. By setting the <em>pool difficulty</em>, the pool manager can adjust the rate at which shares are produced by miners in the pool. Ideally, each miner should find a share every few seconds.</p>

<p>Each share stands some chance of being a full solution to the current bitcoin puzzle. Shares with a higher difficulty stand more chance. By sending shares to the pool manager, the miners simultaneously prove that they are working on the problem, and potentially reveal its solution to the pool manager.</p>

<p>Pools implement a <em>communication protocol</em> between a <em>pool server</em> that dispatches mining work, and the miners who actually perform the work. The most widely used seems to be the <a href="https://slushpool.com/help/manual/stratum-protocol"><em>stratum</em></a> pool mining protocol.</p>


<h2><span style="font-family: fantasy;">3SUM</span>-pool: a special bitcoin mining pool for finding a hash collision</h2>

<p>The <span style="font-family: fantasy;">3SUM</span>-pool is <em>not</em> a regular bitcoin mining pool :
<ul>
<li>Its purpose is <em>not</em> to mine bitcoins.</li>
<li>Miners are <em>not remunerated</em>. It's not for profit!</li>
<li>It does not interact with the bitcoin network (does not receive transactions; does not extend the blockchain).</li>
<li>Its difficulty is set up so that miners send shares to the pool server <em>as fast as possible</em>.</li>
<li>Its goal is to help accomplish a large cryptographic computation.</li>
</ul>
</p>

<p>The <span style="font-family: fantasy;">3SUM</span>-pool exists for a sole reason: accumulate and store (at least) 12 billions blocks whose hash begins with (at least) 32 zero bits.</p>

<p>The pool works as follows: a <a href="https://github.com/cbouilla/3sum-pool">custom-made stratum server</a> sends arbitrary mining jobs to the miners in the pool. When miners send back shares, the server simply stores them. A share is precisely a block starting with (at least) 32 zero bits.</p>

<p>Once enough shares have been accumulated, the computation of a partial (128-bit) 3-SUM on SHA-256 will be attempted. This means that, amongst all the blocks that will be stored by the pool, $x, y$ and $z$ will be found such that the first 128 bits of $\textrm{SHA-256}(x) \textrm{ XOR } \textrm{SHA-256}(y) \textrm{ XOR } \textrm{SHA-256}(z)$ are zero.</p>

<p>Computing all these shares requires about 55 exa-hashes (that's 55'000'000'000'000'000'000). A recent laptop can do about 25 mega-hash/s, so it would need 67'000 years to accomplish the task. A second-hand bitcoin mining rig can do about 5 tera-hash/s, so it would do the job in less than a year. With the help of other miners, it will be even faster.</p>

<p>To participate in this scheme, miners just have to <a href="join.html">mine the <span style="font-family: fantasy;">3SUM</span>-pool</a>. It does not require high-end equipment: older mining rigs will do just fine.</p>

<p>Once the 12 billion shares have been collected, the pool will be shut down.</p>

</div> <!-- container -->
{%endblock main %}
    
