{% extends "web/base.html" %}
{% block main %}
<div class="container">
  
<div class="page-header">
  <h1>(not so) Frequently Asked Questions <small>and Answers</small></h1>
</div>


<h3><u>Goal</u></h3>

<h4>What's your objective, again?</h4>
<p>We want to find a <u>128-bit partial</u> <u>3-way collision</u> on <a href="https://en.wikipedia.org/wiki/SHA-2">SHA-256</a>.
<ul>
<li>"<i>3-way collision</i>" mean that we want 3 blocks that will collide toghether.</li>
<li>"<i>partial</i>" mean that not all the output bits will collide, but only a subset. The first 128 bit will do.</li>
</ul>
Putting things toghether mean that we want to find three 512-bit blocks <var>A</var>, <var>B</var> and <var>C</var> such that :
<code>SHA-256(A) xor SHA-256(B) xor SHA-256(C)</code> starts with 128 zero bits.</p>


<h4>What does it look like?</h4>
Here is a partial 3SUM on 96-bits:
<pre>
     SHA256("FOO-0x0000B70947f064A1") = 000000a9 4fc67b35 beed47fc addb8253 911bb4fa ecaee2d9 f46f7f10 5c7ba78c
^    SHA256("BAR-0x000013f9e450df0b") = 00000017 d29b29eb a0ef2522 db22d0cc 5d48d2f9 36149197 6430685b 1266ee76
^ SHA256("FOOBAR-0x0000e9b2cf21d70a") = 000000be 9d5d52de 1e0262de e51c1119 edff081d 868fe419 879932ab bbcfe66e
=============================================================================================================== 
                                      = 00000000 00000000 00000000 93e54386 21ac6e1e 5c359757 17c625e0 f5d2af94
                                        ^^^^^^^^^^^^^^^^^^^^^^^^^^
                                               96 zero bits</pre>

      <h4>What's the point?</h4>
      <p>The SHA-256 cryptographic hash function is considered secure and is widely deployed.</p>
      <p>However, the rise of bitcoin has led to the commercial availability of powerful mining equipment. This readily available computing power can be used to mount cryptographic attacks more easily, for instance to find larger collisions than was previously believed to be possible. We intend to demonstrate it concretely. Reaching a 128-bit collision would be a significant milestone.</p>


      <h4>Why do you need help to forge a 128-bit partial collision?</h4>
      <p>Because it much harder than 96 bits, and we simply don't have the computational power.</p>


      <h4>What do you intend to do with the collision once its found?</h4> 
      <p>Publish it on this website. Write a paper explaining the process and submit it to a cryptology conference.</p>

      
      <h4>What can such a partial collision be used to?</h4> 
      <p>To the best of our knowledge, not much. In particular, it is quite unlikely that it could ever be used to perform any kind of cyber-criminal act.</p>


<h3><u>Technical aspects</u></h3>

      <h4>How difficult is it?</h4>
      <p>Finding an <var>n</var>-bit partial collision by brute force requires a computationnal effort of about to 2<sup><var>n/2</var></sup> hashes. The above collision with <var>n = 96</var> required about 500 terahash in total. This was done using up to 1000 CPU cores at the university of Lille-1, and it took days.</p>
      <p>Finding a 128-bit partial collision is 65'536 times harder, and it will require about 100 exa-hashes in total (yes, this is 100'000'000'000'000'000'000). Note that, at the time of this writing, the global hashrate of all combined miners on earth is about 6 exa-hash/s, so our little experiment would only require 17s of their combined mining power.</p>



      <h4>Isn't there any other way to find such a collision on SHA-256?</h4>
      <p>To the best of our knowledge, no algorithm is presently known to find any kind of collision on the full hash function faster than brute-force.</p>
      <p>The situation is not the same with legacy hash functions such as MD5 and SHA-1, where faster-than brute force collision-finders exist (as such, these hash functions are considered to be broken).</p>
 

      <h4 id="plan">How do you plan to find the partial 3SUM?</h4>
      <p>Basically, our plan works in two steps:
      <ol>
      <li>Build 3 lists L<sub>A</sub>, L<sub>B</sub> and L<sub>C</sub>, each containing between 4 and 8 billions 512-bit blocks whose hash start with (at least) 32 zero bits.
      <li>For each block A in L<sub>A</sub> and each block B in L<sub>B</sub>, check if <code>SHA-256(A) xor SHA-256(B)</code> (partially) matches the hash of a block in L<sub>C</sub>.
      </ol>
      </p>


      <h4>Aren't there more sophisticated algorithms to compute a 3SUM?</h4>
      <p>Yes there are. For instance, there is the algorithm described in Antoine Joux's book "Algorithmic Cryptanalysis". Joux's algorithm would in theory require 12 times less hashes than the simpler technique we are using. However, it would also require the storage of an absurdly high volume of data (<em>millions of terabytes</em>). It thus seems completely impractical.</p>


<h3><u>Mining the pool</u></h3>
      <h4>What role do bitcoin miners play in your plan?</h4>
      <p>Bitcoin miners are capable of carrying out the first step (<a href="#plan">see above</a>) much faster than classical computers.</p>
      <p>A single core of a modern CPU can perform approximately 5 mega-hash/s (first step), but is capable of testing about 300 millions of pairs per second (second step). So, the bottleneck is actually the first step: precisely what bitcoin miners are designed to do!</p>


      <h4>When miners mine this pool, what happens?</h4>
      <p>This pool implements the <a href="https://slushpool.com/help/manual/stratum-protocol">stratum mining protocol</a>. In this protocol, the miners connect to a <i>pool server</i> that sends them <i>mining work</i> to do. They also regularly send <i>shares</i> to prove to the pool server that they are actually mining. This pools sends custom work to the miners, and keeps the shares (a valid share is one element of the three lists built in step 1 of our plan, <a href="#plan">see above</a>). Once we have received about 12 billions share, we are done.</p>

      <h4>If I participate to this pool, what do <b>I</b> gain?</h4>
      <p>Nothing, besides the satisfaction of knowing that you are helping perform a large and cool computation.</p>
      <p>Normal bitcoin mining pools remunerate miners in bitcoins, based on their contribution (the higher the hashrate, the higher the retribution). This pool, however, does not produces any bitcoin (<a href="#no-cheat">see below</a>), so there is no reward to share amongst miners.</p>


      <h4>If I participate to this pool, what do <b>you</b> gain?</h4>
      <p>You're helping us accomplish the goal stated above: forge a large hash collision. We can't gain anything financially. This pool doesn't mine any valid cryptocurrency (<a href="#no-cheat">see below</a>).</p>


      <h4>What are those "<i>shares</i>" and why do you want them?</h4>
      <p>Quoting <a href="https://en.bitcoin.it/wiki/Pooled_mining">this page</a>: 
      <blockquote>
      <p>
      A share is awarded by the mining pool to the clients who present a valid proof of work of the same type as the proof of work that is used for creating blocks, but of lesser difficulty, so that it requires less time on average to generate.
      </p>
      </blockquote>
      </p>
      <p>In a pool, miners regularly send "shares" to the pool server. These are (the description of) hash blocks whose hash start by a given number of zero bits. By adjusting the <i>pool difficulty</i> (not to be mistaken with the <i>network difficulty</i>, that of the global blockchain), the pool server controls how many zero bits valid shares hash to. A pool difficulty of 1 means 32 zero bits, while a pool difficulty of 2<sup><var>i</var></sup> means (32+<var>i</var>) zero bits.</p>
      <p>So, valid shares (at any difficulty) is actually what we need for the first step of our <a href="#plan">grand plan</a>.</p>


      <h4>How many shares do you need?</h4>
      <p>We need roughly <code>12'000'000'000 / cuberoot(D)</code>, where <var>D</var> is the <i>pool difficulty</i>.


      <h4 id="difficulty">What is the difficulty of this pool?</h4>
      <p>The total computational effort required to find this many shares is equivalent to that of findind <code>12'000'000'000 * D / cuberoot(D)</code> difficulty-1 shares. This quantity is minimal at difficulty one.</p>
      <p>Concretely, the difficulty will be low, between 1 and 16, we don't know yet. We may end up creating several pools with distinct difficulties (some miners produce shares <em>faster</em> at difficulty 16 than at difficulty 1...).</p>


      <h4>What work does this pool send to the miners?</h4>
      <p>Answering this requires dwelving into the details of the <a href="https://slushpool.com/help/manual/stratum-protocol">stratum mining protocol</a>. The pool server has a lot of control over the work the miners actually do. In principle, it sends each miner parts of a <i>transaction header block</i>. The miner has to re-assemble the parts in a way that make the header a valid share. For this, the miner may choose the 32-bit <i>nonce</i>, but it can also change parts of the <i>coinbase transaction</i>.</p>
      <p>To summarize: 
      <ul>
      <li>Bytes 0-35 of the block are chosen by the pool server (4-byte block version and 32-byte hash of the previous block).</li>
      <li>Bytes 36-67 are the <i>merkle hash root</i> (impredictably depends on the coinbase transaction partially chosen by the miner).</li>
      <li>Bytes 68-75 are chosen by the pool server (network time and encoded network difficulty).</li>
      <li>Bytes 76-79 are determined by the miner (32-bit <i>nonce</i>).</li>
      </ul>
      If these 80 bytes hash to something that begins with enough zero bit, then it is a valid share and will be sent back to the pool server.</p>
      <p>In order to produce an actual bitcoin transaction block, these values have to be chosen according to the bitcoin specification and current state of the blockchain. In this pool, however, the portions of the block that are under the control of the pool server are chosen somewhat arbitrarily.</p>



      <h4>I have an slighly old / plainly outdated miner, can I still contribute?</h4>
      <p>Yes, definitely! Even if your miner cannot bring you a profit by mining bitcoin (if it is too slow or not energy-efficient enough), it can still be useful to us!</p>
      <p>At difficulty 1, you should produce a new share every <code>Hashrate / 4 billion</code> second. If you have an old-ish 100 giga-hash/s mining rig, you'll produce 23 shares per second. With 100 such mining rigs, our share collection will be over in 4 months.</p>


      <h4>I have a shiny new / superfast miner, can I still contribute?</h4>
      <p>Yes, definitely! However, it is unlikely that we will be able to use its full potential. If you have a brand new 10 tera-hash / s mining rig, you'd produce about 2300 shares per second (in theory). However, it is unlikely that the <i>controller</i> of your mining rig (probably a low-cost ARM device such as a Raspberry Pi or a BeagleBoard) is capable of coping with such a high rate of shares (in normal bitcoin mining, reporting shares is infrequent, so it doesn't matter). Our experience with some devices suggest that they are incapable of reporting more than 60 shares/s.</p>
      <p>One option would be to increase the difficulty, but it's not very satisfactory (<a href="#difficulty">see above</a>).


      <!-- <h4>Why does the pool says that my miner operates well under its nominal hashrate?</h4>
      <p>Try moving to a higher-difficulty pool. You may be hitting the problem mentionned above.</p> -->

<h3><u>Honesty</u></h3>

      <h4 id="no-cheat">How do I know that this pool doesn't actually mine bitcoins for someone's profit?</h4>
      <p>To make it very clear that we are not mining bitcoins, we only send to the miners blocks that cannot in any way encode valid bitcoin transactions. For instance, instead of begining with a 32-bit block version number (valid values are 1, 2 or 3), our blocks begin with the strings <samp>FOO</samp>, <samp>BAR</samp> or <samp>FOOBAR</samp>. In addition, instead of including a valid network time, we include the number <samp>0xdeadbeef</samp>. No bitcoin node will ever accept these blocks and they will never be included in the blockchain. As such, they can't be used to acquire bitcoins.</p>
      <p>In addition, the low pool difficulty makes it extremely unlikely that the shares sent by the miners to the pool server meet the current difficulty level of the global bitcoin network.</p>


      <h4>How do I know this is not a <a href="https://en.wikipedia.org/wiki/Ponzi_scheme">Ponzi scheme</a>?</h4>
      <p>In a Ponzi scheme, we'd ask you to invest and promise a tremendous return on investment. Here, we will give you nothing. No false promises, no Ponzi scheme.</p>




<h3><u>Openness</u></h3>
      <h4>Can I access the data gathered from the miners in this pool?</h4>
      <p>Yes (TODO).</p>


      <h4>Can I examine or reuse your software?</h4>
      <p>Sure. All our code for this project is in a public <a href="https://github.com/cbouilla/3sum-pool">github repository</a>.</p>
</div> <!-- container -->
{%endblock main %}
      